<div class="row">
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onReward()"><img src="../../../../assets/AppImages/Reward.png" alt="text" class="img-responsive" style="max-height: 100px;margin-left: auto;margin-right: auto;">
            <h3 style="color: white;">Reward</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
        <button class="btn btn-link" type="button" (click)="onCloset()"><img src="../../../../assets/AppImages/Closet.png" alt="text" class="img-responsive" style="max-height: 100px;transform: translate(5%,0%);">
            <h3 style="color: white;">Closet</h3>
        </button>
    </div>
    <div class="col-xs-4" style="text-align: center;">
       <button class="btn btn-link" type="button" (click)="onVideos()"><img src="../../../../assets/AppImages/Videos.png" alt="text" class="img-responsive" style="max-height: 100px;margin-left: auto;margin-right: auto;">
            <h3 style="color: white;">Videos</h3>
        </button>
    </div>
</div>