/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  font-size: 16px;
}

#save {
  display: inline;
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

*{
  background-color: transparent;
}

  
  #main {
      padding: 10px;
  }
  
  #main>div {
      float: left;
  }
  
  #right {
      align-content: center;
      text-align: left;
  }
  
  #left {
      margin: auto;
      text-align: left;
  }