@font-face{
    src: url(../../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

  *{
    font-family: karmatic-arcade;
  }

 .img-responsive{
  max-height: 100px;
  margin-left: auto;
   margin-right: auto;
  }