nav {
    background-color: transparent;
    border: 10px solid transparent;
    padding: 5px;
}

@font-face {
    src: url(../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
}

* {
    font-family: karmatic-arcade;
}

.divLeft {
  padding-right: 10vw;
    height: 30vh;
    width:105vw;
    display:block;
    float: left;
}
.divRight {
    padding-right: 10vw;
    height: 30vh;
    display:block;
    float: right;
}