nav {
    background-color: transparent;
    border: 10px solid transparent;
    padding: 5px;
}

@font-face {
    src: url(../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
}

* {
    font-family: karmatic-arcade;
}
#pretty {
    color:black;
      border: 1px solid black;
      transform: (20%,10%);
      background-image: url('../../assets/AppImages/btnforeverything.png');
      
      
      background-size: cover;
      margin-right:5px;
    }
.divLeft {
    width:95vw;
    display:block;
    float: left;
}
.divRight {
    display:block;
    float: right;
}