<div class="row">
    <div class="col-xs-12">
        <img src="{{skinImagePath}}"   alt="" style="position: absolute; max-height:35ch;" >
        <img src="{{hairImagePath}}"   alt="" style="position: absolute;max-height: 35ch;">
        <img src="{{shirtImagePath}}"  alt="" style="position: absolute;max-height: 35ch;">
        <img src="{{pantsImagePath}}"  alt="" style="position: relative;max-height: 35ch;">
        <img src="{{shoesImagePath}}"  alt="" style="position: relative ;max-height: 35ch;">
        <img src="{{othersImagePath}}" alt="" style="position: absolute;max-height: 35ch;">
    </div>
</div>