
        <img src="{{skinImagePath}}"  id="Image"  alt="" style="position: absolute;max-width: 70%;" >
        <img src="{{hairImagePath}}"   id="Image" alt="" style="position: absolute;max-width: 70%;">
        <img src="{{shirtImagePath}}"  id="Image" alt="" style="position: absolute;max-width: 70%;">
        <img src="{{pantsImagePath}}"  id="Image" alt="" style="position: absolute;max-width: 70%;">
        <img src="{{shoesImagePath}}"  id="Image" alt="" style="position: absolute ;max-width: 70%;">
        <img src="{{othersImagePath}}" id="Image" alt="" style="position: absolute;max-width: 70%;">
