<div class="row">
    <div class="col-xs-12">
        <img src="{{skinImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
        <img src="{{hairImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
        <img src="{{shirtImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
        <img src="{{pantsImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
        <img src="{{shoesImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
        <img src="{{othersImagePath}}" alt="" style="position: absolute;" [ngStyle]="{'max-height': size +'px'}">
    </div>
</div>