<form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm); addUserForm.reset()" action="">
    <div id="Left">
        <img src="../../../../assets/AppImages/skinColor.png" width="300" height="300" alt="player">

    </div>
    <div id="Right">
        <div class="form-group">
            <label for="name">Name of the new player</label><br>
            <input class="input-sm" type="text" name="name" value="name"
                style="background: whitesmoke; border: 2px solid  rgb(66, 66, 66); margin-left: 5em; width: 80%;"
                ngModel required>

            <label style="margin-top: 3%;" for="gender">Gender</label><br>
            <div style="margin-left: 5%; font-family: pixelmix;">
                <input type="radio" value="M" name="gender" ngModel required
                    style="margin-left:2%;margin-right:2%;">Male
                <input type="radio" value="F" name="gender" ngModel required
                    style="margin-left:2%;margin-right:2%;">Female
            </div>

            <label style="margin-top: 3%;" for="playerType">PlayerType</label><br>
            <div style="margin-left: 5%; font-family: pixelmix;">
                <input type="radio" value="ancient" name="playertype" ngModel required
                    style="margin-left:2%;margin-right:2%;">Ancient
                <input type="radio" value="warrior" name="playertype" ngModel required
                    style="margin-left:2%;margin-right:2%;">Warrior
                <input type="radio" value="guildmaster" name="playertype" ngModel required
                    style="margin-left:2%;margin-right:2%;">Guild Master
            </div>
            <label style="margin-top: 3%;" for="email">Email</label><br>
            <input class="input-sm" type="email" name="email"
                style="background: whitesmoke; border: 2px solid  rgb(66, 66, 66);margin-left: 5em; width: 80%;" ngModel
                required email>


        </div>
    </div>

    <div id="footer">
        <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.valid" id="AButton">Create User</button>
    </div>
</form>