<form #addUserForm="ngForm" (ngSubmit)="onSubmit(addUserForm); addUserForm.reset()" action="">
    <div id="Left">
        <div class="col-xs-12" style="text-align: center;">
            <img src="../../../../assets/AppImages/skinColor.png" width="300" height="300" alt="player">
        </div>
    </div>
    <div id="Right">
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <label for="name">Name of the new player</label><br>
                    <input class="input-sm" type="text" name="name" value="name"
                        style="background: whitesmoke; border: 2px solid rgb(65, 126, 218); margin-left: 5em; width: 30%;"
                        ngModel required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <label style="margin-top: 1%;" for="gender">Gender</label><br>
                    <div style="margin-left: 5%; font-family: pixelmix;">
                        <input type="radio" value="M" name="gender" ngModel required
                            style="margin-left:2%;margin-right:2%;">Male
                        <input type="radio" value="F" name="gender" ngModel required
                            style="margin-left:2%;margin-right:2%;">Female
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <label style="margin-top: 1%;" for="playerType">PlayerType</label><br>
                    <div style="margin-left: 5%; font-family: pixelmix;">
                        <input type="radio" value="ancient" name="playertype" ngModel required
                            style="margin-left:2%;margin-right:2%;">Ancient
                        <input type="radio" value="warrior" name="playertype" ngModel required
                            style="margin-left:2%;margin-right:2%;">Warrior
                        <input type="radio" value="guildmaster" name="playertype" ngModel required
                            style="margin-left:2%;margin-right:2%;">Guild Master
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <label style="margin-top: 1%;" for="email">Email</label><br>
                    <input class="input-sm" type="email" name="email"
                        style="background: whitesmoke; border: 2px solid rgb(65, 126, 218); margin-left: 5em; width: 30%;"
                        ngModel required email>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <label style="margin-top: 1%;" for="confirmPassword">Password</label><br>
                    <input class="input-sm" type="password" name="password"
                        style="background: whitesmoke; border: 2px solid rgb(65, 126, 218); margin-left: 5em; width: 30%;"
                        ngModel required minlength="6">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-7">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!addUserForm.valid"
                        style="margin-left: 4em; width: 30%; margin-top: 3%; background: rgb(65, 126, 218); border: 2px solid whitesmoke;">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>