<div style="text-align: center;">
    <div class="row">
    <app-image-maker [hairImagePath]="player.imagePath[0]" [skinImagePath]="player.imagePath[1]"
            [shirtImagePath]="player.imagePath[2]" [pantsImagePath]="player.imagePath[3]"
            [shoesImagePath]="player.imagePath[4]" [othersImagePath]="player.imagePath[5]" [size]=150></app-image-maker>
    </div>
    <div class="row">
        <h4>{{player.userName}}</h4>
    </div>
    <div class="row">
        <h5>{{player.xp}} XP</h5>
    </div>
</div>