<div style="text-align: center;">
  <div class="row">
    <h2>Do you want to buy this skin?</h2>
  </div>
  <div class="row">
    <img src={{currentSkinToBeBought.imagePath}} alt="" style="width:15%">
    <h3>{{currentSkinToBeBought.champiesCost}}<img src="../../../assets/AppImages/Champies.png" alt=""
        style="max-height: 50px;"></h3>
    <h3>{{currentSkinToBeBought.minXP}}</h3>
    <button type="button" class="btn" id="butao" (click)="buySkin()">Buy</button>
    <button type="button" class="btn" id="butao" (click)="redirectBackToCloset()">Cancel</button>
  </div>
</div>