<form #addSkinForm="ngForm" (ngSubmit)="onSubmit(addSkinForm); addSkinForm.reset()" action="" class="container-fluid">
    <div class="form-row">
        <div class="form-group" style="margin-left: 19%;">
            <img src="imagePath.value" alt="">
            <input class="btn btn-primary" type="file" name="filePath" value="filePath" alt="Add Skin Image"
            style="transform: translate(-40%,0%); background: rgb(65, 126, 218); border: 2px solid whitesmoke;" ngModel required>
        </div>
        <div class="form-group">
            <label>Skin Name</label>
            <input type="text" value="skinName" style="background: whitesmoke; border: 2px solid rgb(65, 126, 218)"
                ngModel required>
        </div>
        <div class="form-group">
            <label>Mininum XP</label>
            <input type="text" value="mininumXP" style="background: whitesmoke; border: 2px solid rgb(65, 126, 218)"
                ngModel required>
        </div>
        <div class="form-group">
            <label>Number of Champies</label>
            <input type="text" value="numberOfChampies"
                style="background: whitesmoke; border: 2px solid rgb(65, 126, 218)" ngModel required>
        </div>
        <div class="form-group">
            <label style="margin-right: 5px;">Skin Type</label>
            <select id="inputSubject" name="skinType" value="skinType" style="background: whitesmoke; border: 2px solid rgb(65, 126, 218)" 
            ngModel required>
                <option selected>Select a skin type</option>
                <option>Skin</option>
                <option>Hair</option>
                <option>Top</option>
                <option>Bottom</option>
                <option>Shoes</option>
                <option>Others</option>
            </select>
            <button id="save_button" type="submit" class="btn btn-primary"
                style="margin-top: 5%; margin-right: 5%; background: rgb(65, 126, 218); border: 2px solid whitesmoke;"
                [disabled]="!addSkinForm.valid">Add</button>
        </div>
    </div>
</form>