<form #addSkinForm="ngForm" (ngSubmit)="onSubmit(addSkinForm); addSkinForm.reset()" action="" class="container-fluid">
        <div id="divLeft">
            <app-preview-skin></app-preview-skin>
        </div>

        <div id="divRight">
            <div class="form-group" style="display:inline; margin-left: 5%;">
                <label style="margin-right: 10px; margin-top: 8%">Skin Name</label><br>
                <input class="input-sm" type="text" value="skinName" name="skinName"
                    style="max-width: 24.5%; background: whitesmoke; border: 2px solid rgb(65, 126, 218); max-width: 24.5%; margin-left: 4em;"
                    ngModel required>
            </div>
            <br>


            <div class="form-group" style="display:inline; margin-left: 5%;">
                <label style="margin-top: 2%;">Mininum XP</label><br>
                <input type="text" value="mininumXP" class="input-sm" name="mininumXp"
                    style="max-width: 24.5%; background: whitesmoke; border: 2px solid rgb(65, 126, 218); max-width: 24.5%; margin-left: 4em;"
                    ngModel required>
            </div>
            <br>

            <div class="form-group" style="display:inline; margin-left: 5%;">
                <label style="margin-top: 2%;">Number of Champies</label><br>
                <input type="text" value="numberOfChampies" class="input-sm" name="numberOfChampies"
                    style="max-width: 24.5%; background: whitesmoke; border: 2px solid rgb(65, 126, 218); max-width: 24.5%; margin-left: 4em;"
                    ngModel required>
            </div>
            <br>

            <div class="form-group" style="display:inline; margin-left: 5%;">
                <label style="margin-right: 10px; margin-top: 2%;">Skin Type</label><br>
                <select id="inputSubject" name="skinType" value="skinType" class="input-sm" name="skinType"
                    style="max-width: 24.5%; background: whitesmoke; border: 2px solid rgb(65, 126, 218); max-width: 24.5%; margin-left: 4em;"
                    ngModel required>
                    <option selected>Select a skin type</option>
                    <option>Skin</option>
                    <option>Hair</option>
                    <option>Top</option>
                    <option>Bottom</option>
                    <option>Shoes</option>
                    <option>Others</option>
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"
                style=" width:25%; margin-right: 69%; margin-top: 10%; background: rgb(65, 126, 218); border: 2px solid whitesmoke"
                [disabled]="!addSkinForm.valid">Add Skin</button>
        </div>
</form>