<span class="divLeft" style="text-align: center;">
    <img src="../assets/AppImages/Event.png" alt="text" class="img-responsive"
    style="max-height: 300px;margin-left: auto;margin-right: auto;">
<h2>Events</h2>
</span>
<span class="divRight">
    <form class="form-inline">
            <div class="eventscroll" id="style-8">
                    <div *ngFor="let event of events;" id="row" >
                            <hr>
                            <label class="form-check-label" type="inlineFormCheck" style="margin-right: 20px;margin-left: 5px;">
                                <h3>{{event.eventName}}</h3>
                            </label>
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <span class="form-check-label" for="inlineFormCheck" style="margin-right: 10px;">
                                Went
                            </span>
                           
                        </div>
                    </div>
            
    </form>
</span>
<div id="footer">
    <button type="submit" class="btn btn-primary" id="save" style="margin-right: 1%;" (click)="save()">Save</button>
</div>
       