
 @font-face {
      src: url(../../fonts/ka1.ttf);
      font-family: karmatic-arcade;
  }
  
  * {
      background-color: transparent;
      color: black;
      font-family: karmatic-arcade;
  }
  @font-face{
    src: url(../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }


  .eventscroll{
    overflow-y: scroll;
    height: 500px;
}

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color:transparent;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}




#footer {

  transform: translate(-30%,500%);
  padding-right: 2vw;
    float: right;
}


.divLeft {
  height: 50vh;
  width: 20vw;
  display:block;
  float: left;
}
.divRight {
  padding-left: 5vw;
  padding-right: 2vw;
  height: 50vh;
  width:80vw;
  display:block;
  float: left;
}