<span class="divLeft" style="text-align: center;">
    <img src="../assets/AppImages/Event.png" alt="text" class="img-responsive"
        style="max-height: 300px;margin-left: auto;margin-right: auto;">
        <label style=" font-size: 4ch;   transform: translate(5%,0%);">Events</label>
</span>
<span class="divRight">

    <div class="eventscroll" id="style-8">
        <table class="table table-bordered">

            <thead style="border: 2px solid rgb(0, 0, 0)">
                <tr>
                    <th scope="col">Went</th>
                    <th scope="col">Event</th>
                    <th scope="col">Date</th>


                </tr>
            </thead>

            <tbody style="background-color: rgb(233, 231, 231); border: 2px solid rgb(0, 0, 0)">
                <tr *ngFor="let event of events;">
                    <td *ngIf="hasEvent(event) == true" style="background-color: lightgreen;opacity: 0.7;"><input
                            type="checkbox" (click)="unchecked(event.idevent)" checked="true"><br></td>
                    <td *ngIf="hasEvent(event) == true" style="background-color: lightgreen;opacity: 0.7;">
                        {{event.eventName}}</td>
                    <td *ngIf="hasEvent(event) == true" style="background-color: lightgreen;opacity: 0.7;">
                        {{event.eventDate | date: 'mediumDate' }}</td>


                </tr>

                <tr *ngFor="let event of events;">
                    <td *ngIf="hasEvent(event) == false"><input type="checkbox" (click)="checked(event.idevent)"><br>
                    </td>
                    <td *ngIf="hasEvent(event) == false" style="background-color: rgb(228, 228, 228)">
                        {{ event.eventName }}</td>
                    <td *ngIf="hasEvent(event) == false">{{ event.eventDate}}</td>
                </tr>
            </tbody>

        </table>


    </div>



</span>
<div id="footer">
    <button type="submit" class="btn btn-primary" id="butao" style="margin-right: 1%;" (click)="Save()">Save</button>
</div>