 div.scrollmenu {
  background-color: transparent;
   overflow: auto;
   white-space: nowrap;
 }
      
div.scrollmenu a {
 display: inline-block;
  color: transparent;
 text-align: center;
 padding: 14px;
  text-decoration: none;
}
      
div.scrollmenu a:hover {
 background-color:transparent;
}