<div class="card" id="card">
    <div class="card-header">
        <h5 class="mb=0">
            <h2>Forgot your password?</h2>
        </h5>
    </div>
    <div class="card-body" style="margin-top: 4%">
        <form #forgotPasswordForm="ngForm" (ngSubmit)="onSubmit(forgotPasswordForm); forgotPasswordForm.reset()"
            action="" class="container-fluid">
            <div class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <label for="email">Enter your email</label>
                        <input type="email" id="email" class="form-control"
                            style="background: whitesmoke; border: 2px solid rgb(66, 66, 66);" ngModel name="email"
                            required email>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <button type='submit' class="btn btn-primary" id="butao" [disabled]="!forgotPasswordForm.valid">
                            Reset password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>