@font-face{
    src: url(../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

*{
  font-family: karmatic-arcade;
  max-width: 100%;
  height: auto;
}

  @font-face{
    src: url(../../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }


  #butao {
    color:black;
      border: 4px solid black;
      background-image: url('../../../assets/AppImages/btnforeverything.png');
      background-size: cover;
    }
    
  label, input{
    box-sizing: content-box;

  }

  .card-header, .form-row{
    margin-left: 15%;
    margin-right: 15%;
  }