<div class="scrollmenu" id="style-8" style="margin-bottom: 3%;">
    <div *ngFor="let skin of skincolors" style="display: inline-block;">
        <div *ngIf="playerHasBoughtSkin(skin)==false" style="width:100px;height:100px;">
            <img src={{skin.imagePath}} style="max-width:100px;max-height:100px;"
                (click)="skinSelected(skin)">
            <img src="../../../../assets/AppImages/forsale.png" style="max-width:100px;"
                (click)="skinSelected(skin)">
        </div>
        <div *ngIf="playerHasBoughtSkin(skin)==true && skinInUse(skin)==true" style="width:100px;height:100px;">
            <img src={{skin.imagePath}} style="max-width:100px;max-height:100px;">
            <img src="../../../../assets/AppImages/Using.png" style="max-width:100px;max-height:100px;">
        </div>
        <div *ngIf="playerHasBoughtSkin(skin)==true && skinInUse(skin)==false" style="width:100px;height:100px;">
            <img src={{skin.imagePath}} style="max-width:100px;max-height:100px;" (click)="skinSelected(skin)">
        </div>
    </div>
</div>