<div class="scrollmenu" id="style-8" style="margin-bottom: 3%;">
  <div *ngFor="let other of others" style="display: inline-block; position: relative;">
    <div *ngIf="imageNull(other)==false && playerHasBoughtSkin(other)==false" style="width:100px;height:100px;">
      <img src={{other.imagePath}} style="max-width:100px;max-height:100px; position: absolute;"
        (click)="skinSelected(other)">
      <img src="../../../../assets/AppImages/forsale.png"
        style="max-width:100px; margin-right: auto; margin-left: auto;" (click)="skinSelected(other)">
    </div>
    <div *ngIf="imageNull(other)==false && playerHasBoughtSkin(other)==true && skinInUse(other)==true"
      style="width:100px;height:100px; position: relative;">
      <img src={{other.imagePath}} style="max-width:100px;max-height:100px; position: absolute;">
      <img src="../../../../assets/AppImages/selected.png" style="max-width:100px;max-height:100px;">
    </div>
    <div *ngIf="imageNull(other)==false && playerHasBoughtSkin(other)==true && skinInUse(other)==false"
      style="width:100px;height:100px;">
      <img src={{other.imagePath}} style="max-width:100px;max-height:100px;" (click)="skinSelected(other)">
    </div>
    <div *ngIf="imageNull(other)==true" style="max-width:100px;max-height:100px;">
      <img src={{other.imagePath}} style="max-width:100px;max-height:100px;" (click)="skinSelectedNull()">
    </div>
  </div>