<div class="scrollmenu" id=style-8>
    <img src="../../../assets/Others/FairyWings.png" style="width:15%"/>
    <img  src="../../../assets/Others/Koala.png" style="width:15%"/>
    <img  src="../../../assets/Others/Angel.png" style="width:15%"/>
    <img  src="../../../assets/Others/Bailarina.png" style="width:15%"/>
    <img  src="../../../assets/Others/ElBandoleiro.png" style="width:15%"/>
    <img  src="../../../assets/Others/Fastasminhabrincalhao.png" style="width:15%"/>
    <img  src="../../../assets/Others/MudMan.png" style="width:15%"/>
    <img  src="../../../assets/Others/PaiNatal.png" style="width:15%"/>
  </div>