<div class="scrollmenu" id="style-8"  style="margin-bottom: 3%;">
  <div *ngFor="let other of others" style="display: inline-block;">
    <div *ngIf="other.imagePath!='../../../../assets/AppImages/None.png'" style="width:100px;height:100px;">
      <img src={{other.imagePath}} style="width:100px;height:100px;" (click)="skinSelected(other)">
    </div>
    <div *ngIf="other.imagePath==='../../../../assets/AppImages/None.png'">
      <img src={{other.imagePath}} style="width:100px;height:100px;" (click)="skinSelectedNull()">
    </div>
</div>