@font-face{
    src: url(../../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

  *{
    font-family: karmatic-arcade;
  }

  @font-face{
    src: url(../../../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }
  
  input{
      font-family: pixelmix;
  }
  

   
  #AButton {
    color:black;
      border: 4px solid black;
      transform: (20%,10%);
      background-image: url('../../../../assets/AppImages/btnforeverything.png');
      background-size: cover;
      margin-right:5px;
    }
    #footer {
    
          transform: translate(-20%,-5%);
            float: right;
        }  
