<div class="card" id="card">
    <div class="card-header">
        <h5 class="mb=0">
            <h2>Welcome</h2>
        </h5>
    </div>
    <div class="card-body" style="margin-top: 4%">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm); loginForm.reset()" action="" class="container-fluid">
            <div class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control"
                            style="background: whitesmoke; border: 2px solid rgb(66, 66, 66);" ngModel name="email"
                            required email>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control"
                            style="background: whitesmoke; border: 2px solid rgb(66, 66, 66);" ngModel name="password"
                            required>
                        <button  type='submit' class="btn btn-primary"  (click)="forgotpassword()"style=" transform:(200%,0%);font-size: 12px; float:right; margin-top:3px;background-color: transparent;border: 2px solid transparent;color:rgb(80, 80, 80);" type='submit'>
                        Forgot your password?</button>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-7">
                    <div class="form-group">
                        <button type='submit' class="btn btn-primary" id="AButton" [disabled]="!loginForm.valid">
                            Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>