@font-face{
  src: url(../../fonts/ka1.ttf);
  font-family: karmatic-arcade;
}

#card{
  margin-left: 15%;
  margin-right: 15%;
  font-family: karmatic-arcade;
}

  label, input{
  box-sizing: content-box;
}