<div class="card" id="card">
  <div class="card-header">
    <h2 class="mb=0">
      Change password
    </h2>
  </div>
  <div class="card-body" style="margin: auto">
    <form #changePasswordForm="ngForm" (ngSubmit)="onSubmit(changePasswordForm); changePasswordForm.reset()" action=""
      class="container-fluid">
      <div class="form-row">
        <div class="col-7">
          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" value="oldPassword" name="oldPassword" placeholder="Enter your old password"
            ngModel required minlength="6" style="background: rgb(65, 126, 218); border: 2px solid whitesmoke;">
          </div>
        </div>
      </div>
      <br>
      <div class="form-row">
        <div class="col-7">
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" value="newPassword" ngModel name="newPassword" placeholder="Enter your new password"
              required minlength="6" style="background: rgb(65, 126, 218); border: 2px solid whitesmoke;">
          </div>
        </div>
            <label for="confirmPassword">Confirm Password</label>
      </div>
      <br>
      <div class="form-row">
        <div class="col-7">
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" value="confirmPassword" ngModel name="confirmPassword"
              placeholder="Reenter your new password" required minlength="6" style="background: rgb(65, 126, 218); border: 2px solid whitesmoke;">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-7">
          <div class="form-group">
            <button type='submit' class="btn btn-primary"  style="background: rgb(65, 126, 218); border: 2px solid whitesmoke;"[disabled]="!changePasswordForm.valid">Change</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>