@font-face{
  src: url(../../fonts/ka1.ttf);
  font-family: karmatic-arcade;
}

#card{
  margin-left: 15%;
  margin-right: 15%;
  font-family: karmatic-arcade;
}

  label, input{
  box-sizing: content-box;
}

@font-face{
  src: url(../../fonts/pixelmix.ttf);
  font-family: pixelmix;
}

input[type="password"]{
  font-family: pixelmix;
  font-size: 15px;
}