<div id="divLeft">
    <button class="btn btn-link" type="button" style="width: 100%;"><img src="../../assets/AppImages/Reward.png"
            alt="text" class="img-responsive" style="height:75%;width: 75%; display: inline-block;">
    </button>
    <label style=" font-size: 4ch; transform: translate(10%,0%);">Reward</label>
</div>
<div id="divRight">
    <form #giveReward="ngForm" (ngSubmit)="onSubmit(giveReward)" action="" class="container-fluid">
        <div class="row">
            <label style=" font-size: 2ch;">From: {{giver}}</label>
            <div>
                <label style="font-size: 2ch;">To</label>
                <select style="margin-left: 3%; background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)"
                    value="receiver" name="receiver" ngModel>
                    <!-- <option style="margin-left: 3%; background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">
                        Choose warrior</option> -->
                    <option *ngFor="let warriorEl of warriors" (click)="onPlayerSelection(warriorEl)"
                        style="margin-left: 3%; background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)" selected>
                        {{warriorEl.userName}}</option>
                </select>
            </div>
        </div>
        <div style="margin-top: 1%;">
            <img src="../../assets/AppImages/clock.png" style="margin-right: 1em;" width="40" height="70">
            <select style="background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)" value="time" name="time" [(value)]="selected"
                ngModel>
                <option value="1" name="Short"
                    style="background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)" (click)="changeValueSelected('1')">under
                    5 minutes</option>
                <option value="2" name="Medium"
                    style="background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)" (click)="changeValueSelected('2')">
                    between 5 and 15 minutes</option>
                <option value="3" name="Long"
                    style="background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)" (click)="changeValueSelected('3')">over
                    15 minutes</option>
            </select>
          
            <img src="../../assets/AppImages/ChampiesToGive1.png" style="margin-left: 1em;" width="60" height="60">{{selected}}
        </div>
        <div style="margin-top: 3%;">
            <label id="labelWhy" style=" font-size: 2ch;">Justify</label>
        </div>
        <div>
            <textarea rows="7" cols="60" maxlength="9000" style="background-color: whitesmoke; border: 2px solid  rgb(66, 66, 66)"
                name="reason" ngModel required></textarea>
        </div>
        <button type="submit" class="btn btn-link" style="margin-right: 6%; float:right">
            <img src="../../assets/AppImages/msg.png" style="margin-right: 1em;" width="100" >
        </button>
    </form>
</div>