@font-face {
    src: url(../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
}

* {
    font-family: karmatic-arcade;
    color: black;
    background-color: transparent;
}
  
.divLeft {
    padding-left: 10vw;
    height: 30vh;
    width: 30vw;
    transform: translate(-20%,10%);
    display:block;
    float: left;
}
.divRight {
  padding-right: 10vw;
    height: 30vh;
    width:60vw;
    display:block;
    float: left;
}