<div id="main">
    <div id="left" style="margin-left: 5%; margin-right: 5%; width: 100%">
        <button class="btn btn-link" type="button" style="width: 100%;"><img src="../../assets/AppImages/Reward.png"
                alt="text" class="img-responsive" style="height:20%;width: 20%; display: inline-block;">
        </button>
        <h3 style="text-align: center;">Reward</h3>
    </div>

    <div id="right" style="margin-left: 5%; margin-right: 5%; height: 100%; width: 100%;">
        <div>
            <label>From</label>
            <input type="text" style="margin-left: 1em;">
        </div>
        <div style="margin-top: 3%;">
            <label>To</label>
            <input type="text " style="margin-left: 3em;">
        </div>
        <div style="margin-top: 3%;">
            <img src="../../assets/AppImages/clock.png" width="40" height="70">
            <input type="text" style="margin-left: 1em;">
            <input type="text" style="margin-left: 1em;">
            <img src="../../assets/AppImages/ChampiesToGive1.png" style="margin-left: 1em;" width="60" height="60">
        </div>
        <div style="margin-top: 3%;">
            <label id="labelWhy">Why</label>
        </div>
        <div style="margin-top: 3%;">
            <textarea rows="7" cols="60"></textarea>
        </div>
        <button type="submit" class="btn btn-link" style="text-align: center;">
            <span style="font-size: 350%">&#9993;</span>
            <label id="send">Send</label>
        </button>
    </div>
    <div style="margin-top: 3%;">
        <img src="../../assets/AppImages/clock.png" width="40" height="70">
        <input type="text" style="margin-left: 1em;">
        <input type="text" style="margin-left: 1em;">
        <img src="../../assets/AppImages/ChampiesToGive1.png" style="margin-left: 1em;" width="60" height="60">
    </div>
    <div style="margin-top: 3%;">
        <label id="labelWhy">Why</label>
    </div>
    <div style="margin-top: 3%;">
        <textarea rows="7" cols="60"></textarea>
    </div>
    <button type="submit" class="btn btn-link" style="text-align: center;">
        <span style="font-size: 350%">&#9993;</span>
        <label id="send">Send</label>
    </button>
</div>