<div id="divLeft">
    <button class="btn btn-link" type="button" style="width: 100%;"><img src="../../assets/AppImages/Reward.png"
            alt="text" class="img-responsive" style="height:75%;width: 75%; display: inline-block;">
    </button>
    <label style=" font-size: 4ch; transform: translate(10%,0%);">Reward</label>
</div>
<div id="divRight">
    <form #giveReward="ngForm" (ngSubmit)="onSubmit(giveReward)" action="" class="container-fluid">
        <div class="row">
            <label style=" font-size: 2ch;">From: {{giver}}</label>
            <div>
                <label style="font-size: 2ch;">To</label>
                <select style="margin-left: 3%; background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">
                    <option *ngFor="let warriorEl of warriors" [value]="warriorEl.userName"
                        (click)="onPlayerSelection(warriorEl)"
                        style="margin-left: 3%; background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">
                        {{warriorEl.userName}}</option>
                </select>
            </div>
        </div>
        <div style="margin-top: 1%;">
            <img src="../../assets/AppImages/clock.png" style="margin-right: 1em;" width="40" height="70">
            <select style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)"
                value="time" name="time" ngModel>
                <option value="Short" name="Short"
                    style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">under
                    5 minutes</option>
                <option value="Medium" name="Medium"
                    style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">
                    between 5 and 15 minutes</option>
                <option value="Long" name="Long"
                    style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">over
                    15 minutes</option>
            </select>
            <img src="../../assets/AppImages/ChampiesToGive1.png" style="margin-left: 1em;" width="60" height="60">
        </div>
        <div style="margin-top: 3%;">
            <label id="labelWhy" style=" font-size: 2ch;">Justify</label>
        </div>
        <div>
            <textarea rows="7" cols="60" style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)"
                name="reason" ngModel required></textarea>
        </div>
        <button type="submit" class="btn btn-link" style="margin-right: 5%;">
            <span style="font-size: 350%;">&#9993;</span>
        </button>
    </form>
</div>