<span class="divLeft">
    <app-image-maker [hairImagePath]="player.getImagePath(0)" [skinImagePath]="player.getImagePath(1)"
        [shirtImagePath]="player.getImagePath(2)" [pantsImagePath]="player.getImagePath(3)"
        [shoesImagePath]="player.getImagePath(4)" [othersImagePath]="player.getImagePath(5)" style="width: 10px;">
    </app-image-maker>

    <!-- <app-closet-image></app-closet-image>-->
</span>
<span class="divRight">
    <app-closet-skins [skincolors]="skincolors" [bottoms]="bottoms" [hair]="hair" [tops]="tops" [shoes]="shoes"
        [others]="others"></app-closet-skins>
</span>