<div class="row">
    <div class="col-xs-12" style="text-align: center;">
        <img src="{{guild.guildFlag}}" alt="{{guild.guildName}}" style="max-height: 200px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="text-align: center;">
        <h2>{{guild.guildName}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-4" style="transform: translate(15%,0%);">
        <app-guild-member [player]="guildmaster"></app-guild-member>
    </div>
</div>
<hr >
<div class="row">
    <div class="col-xs-3" *ngFor="let playerEl of players">
        <app-guild-member [player]="playerEl" [index]="playerEl.idplayer"></app-guild-member>
    </div>
</div>
<div class="row" id="upcomingEvents">
    <div class="col-xs-12">
        <h3>Upcoming Events</h3>
    </div>
</div>