<div class="row">
    <div class="col-xs-12" style="text-align: center;">
        <img src={{flag}} style="max-height: 200px;">
        <input class="hidden" type="file" id="upload-file" name="upload-file" (click)=chooseFlag($event)>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-4"
        style="cursor: pointer;transform: translate(16.5%, 7%); display: flex; flex-wrap: wrap;">
        <ul>
            <li class="dropdown" appDropdown style="display: inline-block;">
                <ul style="cursor: pointer; margin-left: auto; margin-right: auto;" class="dropdown-toggle"
                    role="button">
                    <img src="../../../assets/AppImages/plus.png"
                        style="max-height: 50px;margin-left: auto;margin-right: auto; vertical-align: middle;flex: 25%;"><span></span>
                </ul>
                <ul class="dropdown-menu dropdown-menu-center">
                    <li *ngFor="let flag of flags"> <img src={{flag}}
                            style="max-height: 100px;margin-left: auto;margin-right: auto; vertical-align: middle;"
                            (click)="changeFlag(flag)"><a style="cursor: pointer;"></a></li>
                </ul>
            </li>
        </ul>
        <div class="pull-down" style="text-align: center; margin-inline-start: 2%;">
            <h3 class="list-group-item-heading" id="createGuildMaster">Change flag</h3>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="text-align: center;">
        <h2>{{guild.guildName}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-4" style="transform: translate(15%,0%);">
        <app-guild-member [player]="guildmaster" style="background-color:transparent;"></app-guild-member>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-3" *ngFor="let playerEl of players">
        <app-guild-member [player]="playerEl" [index]="playerEl.idplayer" style="background-color:transparent;"></app-guild-member>
    </div>
</div>
<div class="row" id="upcomingEvents">
    <div class="col-xs-12">
        <h3>Upcoming Events</h3>
    </div>
</div>