<div id="divLeft">
    <button class="btn btn-link" type="button" style="width: 100%;"><img src="../../../assets/AppImages/Reward.png"
            alt="text" class="img-responsive" style="height:75%;width: 75%; display: inline-block;">
    </button>
</div>
<div id="divRight">
    <label style=" font-size: 4ch; transform: translate(10%,0%); margin-top: 20%">Oops...</label>
    <label style=" font-size: 4ch; transform: translate(10%,0%);">Something went wrong!</label>

    <button (click)="redirectLogin()" class="btn" type="button" style="width: 100%;">Return to Login</button>
</div>