<div class="scrollmenu" id=style-8>
    <img src="../../../assets/SkinColor/AngLastairbender.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleBlack.png" style="width:15%"(click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleBlue.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleChinese.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleGreen.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleMorena.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleMulata.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleRed.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/FemaleWhite.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleBlack.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleBlue.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleChinese.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleGreen.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleMolato.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleMoreno.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleRed.png" style="width:15%" (click)="skinSelected()"/>
    <img src="../../../assets/SkinColor/MaleWhite.png" style="width:15%" (click)="skinSelected()"/>
    </div>
  