<div class="row">
    <div class="col-xs-12" style="text-align: center; margin-bottom: 5%;">
        <h1>Guilds</h1>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xs-3" *ngFor="let guildEl of guilds" id="divButtons"
            style="margin-left: auto;margin-right: auto;">
            <app-guild-list-elem [guild]="guildEl" [index]="guildEl.idguild" style="background-color:transparent;">
            </app-guild-list-elem>

            <!--<div style="margin: 0 auto; text-align: center;">
                    <button type="submit" class="btn btn-primary" (click)="onGuild(i);"
                        style="width: 50%; text-align: center;">Edit</button>
                    <button type="submit" class="btn btn-danger" style="width: 50%; text-align: center;"
                        (click)="delete()">Delete</button>
                    <div id="popup" class="modal fade">
                        <div class="modal-content">
                            <span class="close" (click)="spanOnClick()">&times;</span>
                            <button>Yes</button>    
                            <button>No</button>
                        </div>                       
                    </div>
                </div>-->
        </div>
        <div class="col-xs-3">
            <a (click)="onResponse()" style="cursor:pointer ;background-color:transparent ; ">
                <img src="../../../assets/AppImages/plus.png" alt="add" class="img-responsive"
                    style="max-height: 100px;">
            </a>
        </div>
    </div>
</div>