<div class="container">
    <div class="col-md-2" id="left">
        <app-ancient-image [name]="ancient.name" [hairImagePath]="ancient.getImagePath(0)" [skinImagePath]="ancient.getImagePath(1)" [shirtImagePath]="ancient.getImagePath(2)" [pantsImagePath]="ancient.getImagePath(3)"></app-ancient-image>
    </div>
    <div class="col-md-9" id="right">
        <app-ancient-details></app-ancient-details>
    </div>
    <div class="col-xs-12" id="right">
        <app-ancient-definitions></app-ancient-definitions>
    </div>
</div>