<div class="row">
    <div class="col-xs-6">
        <div class="col-xs-6">
            <img src="../../../../assets/AppImages/ChampiesToGive1.png" alt="text" style="max-height: 90px;">
        </div>
        <div class="col-xs-6">
            <p>To Give</p>
            <p style="align-self: center;"> {{coinsGive}}</p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="col-xs-6">
            <img src="../../../../assets/AppImages/Champies.png" alt="text" style="max-height: 90px;">
        </div>
        <div class="col-xs-6">
            <p>My Champies</p>
            <p style="align-self: center;"> {{coinsReceive}}</p>
        </div>
    </div>
</div>