<div id="divLeft">
    <div class="col-xs-4" style="text-align: center;" id="left">
        <button class="btn btn-link" type="button"><img src="../../../assets/AppImages/rewardstoapprove.png"
                alt="text" class="img-responsive" style="max-height: 50px;"></button>
        <h4>Rewards to Approve</h4>
    </div>
</div>

<div id="divRight">
    <div class="centered" style="margin-top: 1%;">
        <table class="table">
            <thead>
                <tr>
                    <td scope="col">From</td>
                    <td scope="col">To</td>
                    <td scope="col">Date</td>
                    <td scope="col">Justification</td>
                    <td scope="col">Time spent</td>
                    <td scope="col">Approve</td>
                    <td scope="col">Disapprove</td>
                </tr>
            </thead>
            <tbody id="tableBody">
                <tr *ngFor="let r of rewardsToApprove">
                    <td>{{r.idplayerGiverFK}}</td>
                    <td>{{r.idplayerReceiverFK}}</td>
                    <td>{{r.dateOfReward}} </td>
                    <td>{{r.justification}}</td>
                    <td>{{r.timeSpent}}</td>
                    <td>
                        <label class="custom-control-label" for="approve">Approve</label>
                        <input type="checkbox" (click)="check(r)">
                    </td>
                    <td>
                        <label class="custom-control-label" for="disapprove">Disapprove</label>
                        <input type="checkbox" (click)="uncheck(r)">
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="save" style="margin-right: 1%;" (click)="save()">Save</button>
    </div>
</div>

