<div class="row">
    <div class="col-xs-12">
        <div class="btn-group dropup" appDropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle"  data-toggle="dropdown" style="background-color:transparent;">
                <img src="../../../assets/AppImages/settings.png" alt="Gear" style="max-height: 50px; background-color: transparent;">
            </button>
            <ul class="dropdown-menu">
                <li (click)="onChangePassword()"><a style="cursor: pointer;">Change Password</a></li>
            </ul>
        </div>
    </div>
</div>
