<main>
    <div class="row">
        <div>
            <button type="button" class="btn" id="butao" (click)="redirectCloset()" style="border: 4px solid black;">
                <span>
                    <h4>Closet</h4>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn" id="butao" (click)="redirectGuilds()" style="border: 4px solid black; margin-top: 0.5%">
                <h4>Guilds</h4>
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn" id="butao" (click)="redirectEvents()" style="border: 4px solid black; margin-top: 0.5%">
                <h4>Events</h4>
            </button>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn" id="butao" (click)="redirectListPlayers()" style="border: 4px solid black; margin-top: 0.5%" >
                <h4>Players List</h4>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="btn-group dropright" appDropdown>
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                style="background:transparent;">
                <img src="../../../../assets/AppImages/plus.png" alt="plus" style="max-height: 30px;">
            </button>
            <ul class="dropdown-menu">
                <li><a style="cursor: pointer;" (click)="addEvent()">Add Event</a></li>
                <li><a style="cursor: pointer;" (click)="addUser()">Add User</a></li>
                <!--<li><a style="cursor: pointer;" (click)="addSkin()">Add Skin</a></li>-->
                <li><a style="cursor: pointer;" (click)="addGuild()">Add Guild</a></li>
            </ul>
        </div>
    </div>
</main>