<div>
   <div id="div_filter" style="display: inline-table">
        <label for="singleSelect">Display players by:</label><br>
        <select select class="input-sm" name="singleSelect" id="singleSelect" style=" background: whitesmoke; border: 2px solid rgb(65, 126, 218);" [(ngModel)]="userType">
            <option value="">All</option>
            <option value="Ancient">Ancients</option>
            <option value="GuildMaster">Guild Master</option>
            <option value="Warrior">Warriors</option>   
        </select>
    </div>

    <h2 style="margin-top: 3%;" >Players</h2>

    <table class="table table-bordered" style="margin-left: 5%; margin-right: 5%; ">
        <thead style="border: 2px solid rgb(65, 126, 218)">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">User Type</th>
                <th scope="col">XP</th>
                <th scope="col">Champies To Give</th>
                <th scope="col">My Champies</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody style="background-color: whitesmoke; border: 2px solid rgb(65, 126, 218)">
            <tr *ngFor="let playerEl of players | tableFilter: userType">
                <td>{{ playerEl.userName }}</td>
                <td>{{ playerEl.email }}</td>
                <td>{{ playerEl.gender }}</td>
                <td>{{ playerEl.userType }}</td>
                <td>{{ playerEl.xp }}</td>
                <td>{{ playerEl.champiesToGive }}</td>
                <td>{{ playerEl.myChampies }}</td>
                <td>{{ playerEl.status }}</td>
            </tr>
        </tbody>
    </table>
</div>