@font-face{
    src: url(../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

  *{
    font-family: karmatic-arcade;
    margin-left: 5%;
    margin-right: 5%;
  }

  @font-face{
    src: url(../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }

  td{
    font-family: pixelmix;
  }

  th{
    background: url("../../assets/AppImages/button width-700height-90.png") no-repeat;
    background-size: auto;
  }

  option{
    font-family: pixelmix;
  }
  select{
    font-family: pixelmix;
  }