<div class="divLeft">
    <app-image-maker [hairImagePath]="activeSkins[0]" [skinImagePath]="activeSkins[1]" [shirtImagePath]="activeSkins[2]"
        [pantsImagePath]="activeSkins[3]" [shoesImagePath]="activeSkins[4]" [othersImagePath]="activeSkins[5]">
    </app-image-maker>
    <h2 style="text-align: center;">{{guildmaster.userName}}</h2>
</div>
<div class="divRight">
    <app-guild-master-details-xp [XP]="this.guildmaster.xp"></app-guild-master-details-xp>
    <hr>
    <app-guild-master-details-coins [coinsGive]="this.guildmaster.champiesToGive"
        [coinsReceive]="this.guildmaster.myChampies"></app-guild-master-details-coins>
    <hr>
    <app-guild-master-details-buttons></app-guild-master-details-buttons>
</div>