@font-face {
    src: url(../../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }
  
  * {
    font-family: karmatic-arcade;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  @font-face{
    src: url(../../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }
  
  input{
    font-family: pixelmix;
  }
  #Left {
   
    height: 20vh;
    width: 0vw;
    transform: translate(0%,20%);
    display:block;
    float: left;
  }
  #Right { 
    transform: translate(10%,-40%);
    height: 30vh;
    width:80vw;
    display:block;
    float: left;
  }
  
  @font-face{
    src: url(../../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }
  
  input{
      font-family: pixelmix;
  }