<div class="row">
    <div class="col-xs-2" style="text-align: center; margin: 1.5%">
        <button class="btn btn-link" type="button" (click)="redirectToRewards()">
            <img src="../../../../assets/AppImages/Reward.png" class="img-responsive"
                style="max-height: 100px; max-width: 100px;">
        </button>
        <h3>Reward</h3>
    </div>
    <div class="col-xs-2" style="text-align: center;margin: 1.5%">
        <button class="btn btn-link" type="button" (click)="redirectToRewardsToApprove()">
            <img src="../../../../assets/AppImages/rewardstoapprove.png" alt="reward" class="img-responsive"
                style="max-height: 100px; max-width: 100px;">
        </button>
        <h3>Rewards to Approve</h3>
    </div>
    <div class="col-xs-2" style="text-align: center;margin: 1.5%">
        <button class="btn btn-link" type="button" (click)="redirectToCloset()">
            <img src="../../../../assets/AppImages/Closet.png" class="img-responsive"
                style="max-height: 100px; max-width: 100px;">
        </button>
        <h3>Closet</h3>
    </div>
    <div class="col-xs-2" style="text-align: center;margin: 1.5%">
        <button class="btn btn-link" type="button" (click)="redirectToVideos()">
            <img src="../../../../assets/AppImages/Videos.png" class="img-responsive"
                style="max-height:100px;max-width: 100px;">
        </button>
        <h3>Videos</h3>
    </div>
    <div class="col-xs-2" style="text-align: center;margin: 1.5%">
        <button class="btn btn-link" type="button" (click)="redirectToGuilds()">
            <img src="../../../../assets/AppImages/Guild.png" class="img-responsive"
                style="max-height: 100px;max-width: 100px;">
        </button>
        <h3>Guilds</h3>
    </div>
</div>