<!--<div class="Profile_container">
    <div class="row">
        <div class="col-md-2">
            <app-image [name]="warrior.name" [hairImagePath]="warrior.getImagePath(0)"
                [skinImagePath]="warrior.getImagePath(1)" [shirtImagePath]="warrior.getImagePath(2)"
                [pantsImagePath]="warrior.getImagePath(3)">{{warrior.getImagePath(0)}}</app-image>
        </div>
        <div class="col-md-6">
            <app-warrior-details [XP]="warrior.xp" [coinsGive]="warrior.coinsGive"
                [coinsReceive]="warrior.coinsReceived"></app-warrior-details>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <app-warrior-definitions></app-warrior-definitions>
        </div>
    </div>
</div>-->

<div class="Profile_container">
    <app-presenter-page></app-presenter-page>
    <div class="row">
        <div class="col-xs-12">
            <app-warrior-definitions></app-warrior-definitions>
        </div>
    </div>
</div>