#footer{
 
  transform: translate(-2.5%,90%);
}

@font-face{
  src: url(../../fonts/ka1.ttf);
  font-family: karmatic-arcade;
}

*{
  font-family: karmatic-arcade;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}