label, input{
  box-sizing: content-box;
}

h2, .col-7{
  margin-top:0%;
  margin-left: 15%;
  margin-right: 15%;
}

@font-face{
  src: url(../../fonts/ka1.ttf);
  font-family: karmatic-arcade;
}

*{
  font-family: karmatic-arcade;
}

@font-face{
  src: url(../../fonts/pixelmix.ttf);
  font-family: pixelmix;
}

input[type="password"]{
  font-family: pixelmix;
  font-size: 15px;
}