<div class="scrollmenu" id=style-8>
    <img src="../../../assets/Shoes/ShoesBlack.png" style="width:20%"/>
    <img  src="../../../assets/Shoes/ShoesBrown.png" style="width:20%"/>
    <img  src="../../../assets/Shoes/ShoesWhite.png" style="width:20%">
    <img  src="../../../assets/Shoes/ShoesBlue.png" style="width:20%">
    <img  src="../../../assets/Shoes/ShoesGrey.png" style="width:20%">
    <img  src="../../../assets/Shoes/ShoesPink.png" style="width:20%">
    <img  src="../../../assets/Shoes/ShoesYellow.png" style="width:20%">
    <img  src="../../../assets/Shoes/ShoesRed.png" style="width:20%">
    </div>