<div style="background: transparent;">
    <div id="divLeft" style="background: transparent;">
        <button class="btn btn-link" type="button"><img src="../../assets/AppImages/notification.png" alt="text"
                class="img-responsive" style="max-height: 300px;"></button>
                <label style=" font-size: 3ch;   transform: translate(-10%,0%);">Notifications</label>

    </div>
    <div id="divRigth">
        <div style="padding-right: 10px;">
            <div class="notificationscroll" id="style-8">
                <tr *ngFor="let notification of notviewed;">
                    <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                        <span class="label label-default" style="font-size: 15pt">Notification</span>
                    </div>
                    <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                        <p style="font-family: pixelmix;">{{notification.description}}</p>
                    </div>
                </tr>
                <button class="btn btn-primary"
                    style="margin-top: 2%; margin-left: 75%; background: rgb(65, 126, 218); border: 2px solid whitesmoke;"
                    (click)="redirectToProfile()">Close</button>
            </div>
        </div>
    </div>
</div>