<div style="background: chartreuse;">
<div id="divLeft" style="background: pink;">
 <button class="btn btn-link" type="button"><img src="https://image.flaticon.com/icons/svg/1301/1301508.svg"
            alt="text" class="img-responsive" style="max-height: 150px;"></button>
    <h3>Notifications</h3>

</div>
<div id="divRigth" style="background: blue;">
    <div class="spaceBetweenLines"style="background: grey;">
        <span class="label label-default" style="font-size: 15pt">Notification 1</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 2</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 3</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>

    <div class="bottomright">
        <button class="btn btn-primary" (click)="redirectToProfile()">Close</button>
    </div>
</div>
</div>
<!--
<span id="divLeft">

  
</span>

<span id="divRight">
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 1</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 2</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 3</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>

    <div class="bottomright">
        <button class="btn btn-primary" (click)="redirectToProfile()">Close</button>
    </div>
</span>
-->
