<div style="background: transparent;">
    <div id="divLeft" style="background: transparent;">
        <button class="btn btn-link" type="button"><img src="../../../../assets/AppImages/msg.png" alt="text"
                class="img-responsive" style="max-height: 300px;"></button>
        <h3 style="text-align: center;">Notifications</h3>

    </div>
    <div id="divRigth">

        <div style="padding-right: 10px;">
            <div class="notificationscroll" id="style-8">
                <div class="spaceBetweenLines" style="margin-top: 5%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 1</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
                <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 2</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
                <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 3</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
                <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 4</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
                <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 5</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
                <div class="spaceBetweenLines" style="margin-top: 3%; margin-left: 2em">
                    <span class="label label-default" style="font-size: 15pt">Notification 6</span>
                </div>
                <div class="spaceBetweenLines2" style="margin-top: 1%; margin-left: 4em;">
                    <p style="font-family: pixelmix;">description of the notification</p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" style="margin-top: 2%; margin-left: 85%; background: rgb(65, 126, 218); border: 2px solid whitesmoke;" (click)="redirectToProfile()">Close</button>
</div>
<!--
<span id="divLeft">

  
</span>

<span id="divRight">
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 1</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 2</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>
    <div class="spaceBetweenLines">
        <span class="label label-default" style="font-size: 15pt">Notification 3</span>
    </div>
    <div class="spaceBetweenLines2">
        <p>description of the notification</p>
    </div>

    <div class="bottomright">
        <button class="btn btn-primary" (click)="redirectToProfile()">Close</button>
    </div>
</span>
-->