  @font-face {
      src: url(../../fonts/ka1.ttf);
      font-family: karmatic-arcade;
  }
  
  * {
      background-color: transparent;
      color: black;
      font-family: karmatic-arcade;
  }
  @font-face{
    src: url(../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }

  .notificationscroll{
    overflow-y: scroll;
    height: 500px;
}

#style-8::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color:transparent;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#style-8::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

  #divLeft {
    padding-left: 10vw;
    height: 30vh;
    width: 30vw;
    display:block;
    float: left;
}
#divRight {
    height: 50vh;
    width:40vw;
    display:block;
    float: left;
}

#butao {
  color:black;
    border: 4px solid black;
    background-image: url('../../assets/AppImages/btnforeverything.png');
    background-size: cover;
     float:right;
  }