
  #tabela{
    grid-row: 1 /  3;
  }

  div button {
    float: right;
  }
  
  #divLeft {
    height: 30vh;
    width: 30vw;
    transform: translate(-20%,0%);
    display:block;
    float: left;
}
#divRight {
  transform: translate(35%,-100%);
  height: 40vh;
  width: 60vw;
    display:block;
    float: left;
}
#footer {

  transform: translate(-30%,50%);
    float: right;
}


.videoscroll{
  overflow-y: scroll;
  height: 60vh;
  width:70vw;
  overflow-x: hidden;
}

@font-face{
    src: url(../../fonts/pixelmix.ttf);
    font-family: pixelmix;
  }
  
  input{
      font-family: pixelmix;
  }

  textarea{
    font-family: pixelmix;
}

select{
    font-family: pixelmix;
}
  @font-face{
    src: url(../../fonts/ka1.ttf);
    font-family: karmatic-arcade;
  }

  *{
    font-family: karmatic-arcade;
    background-color: transparent;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
  }

 
  td{
    font-family: pixelmix;
    width: 5vw;
    opacity: 0.9;
  }

  th{
    background: url("../../assets/AppImages/button width-700height-90.png") no-repeat ;
    opacity: 0.9;
    background-size: auto;
    
  }

  option{
    font-family: pixelmix;
  }
  select{
    font-family: pixelmix;
  }
  


  #style-8::-webkit-scrollbar-track
  {
    border: 1px solid black;
    background-color:transparent;
  }
  
  #style-8::-webkit-scrollbar
  {
    width: 10px;
    background-color: transparent;
  }
  
  #style-8::-webkit-scrollbar-thumb
  {
    background-color: #000000;	
  }