<div id="main">
    <div id="left" style="display: inline-block; ">
        <button class="btn btn-link" type="button"><img src="../../assets/AppImages/Videos.png" alt="text"
                class="img-responsive" style="height:40%;width: 40%; display: inline-block;"></button>
        <h3 style="text-align: center;">Videos</h3>
    </div>

    <div id="right">
        <div class="navbar">
            <div class="split right">
                <div class="centered">
                    <ul class="list-group">



                        <th >

                            <div class="btn-group dropright" appDropdown >
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Java
                                    <span class="badge badge-primary badge-pill"style="width: 150px;">14</span>
                                </li>
                                <ul class="dropdown-menu">
                                    <input type="checkbox" name="Videos" value="Watched"> Introduction<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part1<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part2<br>
                                    <input type="checkbox" name="Videos" value="Watched"> End<br>
                                </ul>
                            </div>


                        </th>
                        <th>

                            <div class="btn-group dropright" appDropdown>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Spring
                                    <span class="badge badge-primary badge-pill"style="width: 150px;">2</span>
                                </li>
                                <ul class="dropdown-menu">
                                    <input type="checkbox" name="Videos" value="Watched"> Introduction<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part1<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part2<br>
                                    <input type="checkbox" name="Videos" value="Watched"> End<br>
                                </ul>
                            </div>

                        </th>
                        <th>

                            <div class="btn-group dropright" appDropdown>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Angular
                                    <span class="badge badge-primary badge-pill"style="width: 150px;">1</span>
                                </li>
                                <ul class="dropdown-menu">
                                    <input type="checkbox" name="Videos" value="Watched"> Introduction<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part1<br>
                                    <input type="checkbox" name="Videos" value="Watched"> Part2<br>
                                    <input type="checkbox" name="Videos" value="Watched"> End<br>
                                </ul>
                            </div>


                        </th>


                    </ul>
                </div>
            </div>
        </div>
        <div>
            <button type='submit' class="btn btn-primary">Save</button>
        </div>
    </div>
</div>